@page "/client-list"
@using Crm_WASM.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3 class="page-title">Список клиентов</h3>
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                id
            </th>
            <th scope="col">
                Полное имя
            </th>
            <th scope="col">
                Email
            </th>
            <th scope="col">
                Номер телефона
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    @foreach (var item in customers)
    {
        <tbody>
            <tr>
                <td>
                    @item.CustomerId
                </td>
                <td>
                    @item.Name @item.SurName @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    <a href="/customer-orders/@item.CustomerId" class="btn order-link">
                        Заявки
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>

@code {
    public List<Customer> customers{ get; set; } = new List<Customer>();
    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<Customer>>("customer");
    }
}
